*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100%;
    min-height: 100%;
}   
body{
    display: flex;
    flex-direction: column;
    background:turquoise;
    min-height: 100%;
}

header{
    text-align: center;
    height: 100px;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    padding: 30px;    
    text-shadow: 1px 1px 3px black;
    box-shadow: 1px 2px 13px black;
    margin-bottom: 30px;   
}

nav{
    height: 50px;
    text-align: center;
}

.consultar, .cadastrar{
    text-decoration: none;
    background: white;
    color: green;
    font-weight: bold; 
    padding: 10px;
    border: solid white;
    margin:20px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.589);
  }
  
.consultar:hover, .cadastrar:hover{
      text-decoration: none;
      background: greenyellow;
      color: grey;
      font-weight: bold; 
      border: solid white;            
  }

main{  
    background: white;
    max-width: 600px;
    min-width: 200px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.589);
}

.conteiner{
    width: 100%;
    padding: 30px;
    margin: 0; 
}

.conteiner-cad{
    width: 100%;
    padding: 80px;
    margin: 0;

}

.login{
    width: 100%;
    padding: 30px 90px;
    margin: 0; 

}


.div-cad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    align-items: center;
    justify-items: left;
    grid-gap: 30px;
    margin: 10px;
}

div{
    align-items: center;
    justify-items: left;
    grid-gap: 30px;
    margin: 10px;
}

.form-group{
   padding-inline-end: 0px;
   display: inline;
}

label{
    font-weight: bold;
}

select{
    width: 100%;
    border-radius: 8px;
    padding: .6em 1.4em .5em .8em;
    background-image: linear-gradient(to bottom, white, lightgrey);
    font-weight: 700;
}

select:hover{
    border-color :  rgb(0, 25, 247);
    
}

select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    color: #222; 
    outline: none;
  }

footer{
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    margin-top:auto;
    text-shadow: 1px 1px 1px black;
}  

h2{
    font-size: 1.2em;
    margin: 10px;
    padding-bottom:15px ;
}

hr{
    margin-bottom: 30px;
}


p{
    margin-top: 10px;
    padding: 5px;
}

input{
    width: 100%;
    border-radius: 8px;
    padding: 5px 5px ;
    background-image: linear-gradient(to bottom, white, lightgrey);
    border: none;
    border-style:ridge;
}

input:hover{
    border-color: rgb(0, 25, 247);
}

input:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    color: #222; 
    outline: none;
  } 

button{    
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1e6b4f;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px #999;
  margin-top: 50px;
}

button:hover{
    background-color: #3e8e41
}

button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);   
}

.fconsulta{
    margin: top auto;
}